<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div>
<form>
<label>Search: <input ng-model="searchText"></label>

<!--<label>Search Column:</label>
<select ng-model="filter">
    <option value='BookName'>by Book Name </option>
    <option value='AuthorName'>by Author </option>
</select>

<input ng-model='query' />-->

<table class="AppFormTable">
    <tr>
        <th colspan="7"> List of Books</th>
    </tr>
    <tr>
        <th ng-click="orderByMe('_id.$oid')">Object ID</th>
        <th ng-click="orderByMe('BookName')">Book Name </th>
        <th ng-click="orderByMe('AuthorName')">Author</th>
        <th ng-click="orderByMe('BookPurcahseDate')">Date of Purchase</th>
        <th ng-click="orderByMe('Copies')">Copies</th>
        <th ng-click="orderByMe('Availability')">Availability</th>
        <th>Book Type</th>
        <!-- <th>Object ID</th>
        <th>Book Name </th>
        <th>Author</th>
        <th>Date of Purchase</th>
        <th>Copies</th>
        <th>Availability</th>
        <th>Book Type</th>-->
    </tr>
 <tr ng-repeat ="Books in BookList | orderBy:myOrderBy:bb | filter:searchText">
   <!-- <tr ng-repeat ="Books in BookList | filter: getFilter()"> -->
        <td>
            {{Books._id.$oid}}
        </td>
        <td>
            {{Books.BookName}}
        </td>
          <td>
            {{Books.AuthorName}}
        </td>
        <td>
            {{Books.BookPurcahseDate | date:'dd/MM/yyyy'}}
        </td>
        <td>
            {{Books.Copies}}
        </td>
        <td>
            {{Books.Availability}}
        </td>
        <td>
            <span ng-repeat="bookType in Books.BookType">
                {{$index+1}}.{{bookType}}<br />
             </span>
        </td>
    </tr>
</table>
</form>
</div>
</body>
</html>
