<form name="frmCreatePost" ng-submit="frmCreatePost.$valid && frmCreatePost.$dirty && createPost()" novalidate>
    <table class="AppFormTableWithOutBorder">
        <tr>
            <th colspan="3">Create Blog</th>
        </tr>
        <tr>
            <td style="width:20%" align="right">Title : </td>
            <td style="width:40%"><input type="text" class="form-control" name="Title" ng-model="post.Title" required /></td>
            <td style="width:40%">
                <div ng-messages="frmCreatePost.Title.$error" ng-if="frmCreatePost.Title.$error && !frmCreatePost.Title.$pristine">
                    <div ng-message="required">Title is required.</div>
                </div>
            </td>
        </tr>
        <tr>
            <td align="right">Content : </td>
            <td><textarea name="Content" class="form-control" ng-model="post.Content" rows="15" required></textarea></td>
            <td>
                <div ng-messages="frmCreatePost.Content.$error" ng-if="frmCreatePost.Content.$error && !frmCreatePost.Content.$pristine">
                    <div ng-message="required">Content is required.</div>
                </div>
            </td>
        </tr>
        <tr>
            <td align="right">Tags : </td>
            <td><input type="text" class="form-control" name="Tags" ng-model="post.Tags" placeholder="Tags #1, Tags #2, ..." required /></td>
            <td>
                <div ng-messages="frmCreatePost.Tags.$error" ng-if="frmCreatePost.Tags.$error && !frmCreatePost.Tags.$pristine">
                    <div ng-message="required">Tags is required.</div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td align="center"><input type="submit" ng-disabled="frmCreatePost.$invalid" class="btn btn-primary" value="      Create Blog      "></input></td>
            <td></td>
        </tr>
    </table>
</form>

